@model AdminMessageReadViewModel
@{
    this.ViewData["Title"] = "Message";
}

<partial name="/Areas/Administrator/Views/Shared/Partials/_AdminNavBarPartial.cshtml" />
<br />

<div class="container">
    <div class="row">
        <div class="  align-content-start ">
            <p><h3>@Model.Message</h3></p>
        </div>
    </div>
</div>