@{
    ViewData["Title"] = "Administrator panel";
}

<partial name="/Areas/Administrator/Views/Shared/Partials/_AdminNavBarPartial.cshtml" />

<div class="text-center"><h1>This is admin panel home page!</h1></div>