@model MainHeaderViewModel

@{
    this.ViewData["Title"] = "Main header";
    var items = new List<SelectListItem>();
    items.Add(new SelectListItem() { Text = "All Categories"});
    foreach (var category in Model.ListCategories)
    {
        items.Add(new SelectListItem() { Text = category.Name });
    }
}

<header class="header">
    <div class="header_main">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-3 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"><a asp-controller="Home" asp-action="Index">Marketplace</a></div>
                    </div>
                </div>

                <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form method="get" class="header_search_form clearfix" asp-controller="Home" asp-action="Search">
                                    <input type="search" name="input" required="required" class="header_search_input" placeholder="Search for products...">
                                    <div class="custom_dropdown">
                                        <div class="custom_dropdown_list">
                                            <span class="custom_dropdown_placeholder clc">All Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                            <select class="custom_list clc form-control" name="CategoryName" asp-items="@items"></select>
                                        </div>
                                    </div>
                                    <button type="submit" class="header_search_button trans_300" value="Submit"><img src="~/images/search.png" alt="search"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wishlist -->
                <div class="col-lg-3 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist_icon"><img src="~/images/heart.png" alt=""></div>
                            <div class="wishlist_content">
                                <div class="wishlist_text"><a asp-controller="WishList" asp-action="All">Wishlist</a></div>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div class="wishlist_count">@Model.WishListCount</div>
                                }
                                else
                                {
                                    <div class="wishlist_count">0</div>
                                }
                            </div>
                        </div>

                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <div class="cart_icon">
                                    <img src="~/images/cart.png" alt="">
                                    <div class="cart_count"><span>@Model.ShoppingCartProductCount</span></div>
                                </div>
                                <div class="cart_content">
                                    <div class="cart_text"><a asp-controller="ShoppingCart" asp-action="Cart">Cart</a></div>
                                    <div class="cart_price">$@Model.ShoppingCartTotalPrice</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>




