@{
    ViewData["Title"] = "Create";
}

<div class="pt-5"><h1>You successfuly finish your order!</h1></div>
<div><h1>Thank you!</h1></div>

<div><a class="btn btn-primary btn-lg text-white font-weight-bold float-right" asp-controller="Home" asp-action="Index">Back to home</a></div>
