@model IEnumerable<WishListProductViewModel>
@{
    ViewData["Title"] = "WishList";
}

@await Component.InvokeAsync(typeof(MainHeaderViewComponent))
@await Component.InvokeAsync(typeof(MainNavigationMenuViewComponent))

<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">WishList</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (var item in Model)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="@item.PictureUrl" alt="WishList Picture"></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">@item.Name</div>
                                        </div>
                                        <div class="cart_item_color cart_info_col">
                                            <div class="cart_item_title">Color</div>
                                            <div class="cart_item_text"><span style="background-color:@item.Color;"></span>Silver</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">$@item.Price</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Action</div>
                                            <div class="cart_item_text"><a class="btn btn-warning text-white" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a></div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Action</div>
                                            <div class="cart_item_text"><a class="btn btn-danger text-white" asp-controller="WishList" asp-action="Delete" asp-route-id="@item.Id">X</a></div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="d-inline-flex float-right mt-3">
                        <div class="mr-3"><a class="btn btn-block btn-lg bg-danger text-white font-weight-bold" asp-controller="WishList" asp-action="ClearAll">Clear all</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>