@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync(typeof(MainHeaderViewComponent))
@await Component.InvokeAsync(typeof(MainNavigationMenuViewComponent))



<h1>This is Index page!</h1>
