@model ShoppingCartProductsViewModel
@{
    ViewData["Title"] = "Cart";
}

@await Component.InvokeAsync(typeof(MainHeaderViewComponent))
@await Component.InvokeAsync(typeof(MainNavigationMenuViewComponent))

<div class="cart_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Shopping Cart</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (var item in Model.Products)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="@item.PictureUrl" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">@item.Name</div>
                                        </div>
                                        <div class="cart_item_color cart_info_col">
                                            <div class="cart_item_title">Color</div>
                                            <div class="cart_item_text"><span style="background-color:@item.Color;"></span></div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">@item.Quantity</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">$@item.Price.ToString("f2")</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">$@item.Total.ToString("f2")</div>
                                        </div>

                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Action</div>
                                            <div class="cart_item_text"><a class="btn btn-danger text-white" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@item.Id">X</a></div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                        <!-- Order Total -->
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">$@Model.TotalProductsCost.ToString("f2")</div>
                            </div>
                        </div>

                        <div class="d-inline-flex float-right mt-3">
                            <div class="mr-3"><a class="btn btn-block btn-lg bg-danger text-white font-weight-bold" asp-controller="ShoppingCart" asp-action="ClearCart">Clear all</a></div>
                            <div class="mr-3"><a class="btn btn-block btn-lg bg-primary text-white font-weight-bold" asp-controller="Orders" asp-action="Create">Checkout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
