@model DeleteUserViewModel

@{
     ViewData["Title"] = "Delete user";
}

<partial name="/Areas/Administrator/Views/Shared/Partials/_AdminNavBarPartial.cshtml" />
<br />

<div>
    <h3>Are you sure you want to delete permanently user @Model.Email?</h3>

    <div class="btn-group d-inline-flex">
        <a class="btn btn-block bg-danger mr-5" asp-area="Administrator" asp-controller="Users" asp-action="Destroy" asp-route-id="@Model.Id">Yes</a>
        <br/>
        <a class="btn btn-block bg-info mr-5" asp-area="Administrator" asp-controller="Users" asp-action="All">No</a>
    </div>
</div>

