@model RolesViewModel

@{
    ViewData["Title"] = "User Roles";
    var count = 1;
}

<partial name="/Areas/Administrator/Views/Shared/Partials/_AdminNavBarPartial.cshtml" />

@if (Model.Roles.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-light bg-warning">
                <th>#</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@count</td>
                    <td>@role</td>
                </tr>

                count++;
            }
        </tbody>
    </table>
}
else
{
    <h3>User have no roles.</h3>
}

