<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="collapse navbar-collapse" id="admin-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-light lead border rounded mr-2" asp-area="Administrator" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light lead border rounded mr-2" asp-area="Administrator" asp-controller="Users" asp-action="All">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light lead border rounded mr-2" asp-area="Administrator" asp-controller="Categories" asp-action="All">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light lead border rounded mr-2" asp-area="Administrator" asp-controller="Orders" asp-action="Orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light lead border rounded mr-2" asp-area="Administrator" asp-controller="Messages" asp-action="Messages">Messages</a>
            </li>
        </ul>
    </div>
</nav>